@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700);

*, *::after, *::before {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family:"Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: #303030;
}

main {
    align-items: flex-start;
}

.main__wrap {
    height: 660px;
    width: 1083px;
    display: flex;
    justify-content: center;
}

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .login__carousel {
        display: none;
    }
    .main__container {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .login__carousel {
        display: none;
    }
    .main__container {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}

/* Bigger screens */
@media only screen and (min-width: 1024px) {
    .login__carousel {
        display: inline;
    }
    .main__wrap {
        width: 100%;
    }
}

@media (max-height: 720px) {
    body {
        height: auto;
    }
}

@media (max-width: 319px) {
    *{
        display:none;
    }
}