@import "colours.css";

body {
    background-color: var(--black);
    width: 100%;
}

button {
    cursor: pointer;
    background-color: transparent;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    line-height: 1.15;
}  

.show-flex {
    display: flex;
}

header {
    background: linear-gradient(180deg, var(--green) 0%, var(--dark-green) 100%);
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 100%;
    box-shadow: 1px -3px 36px rgb(0 0 0 / 50%);
}

.header__container {
    display: flex;
    padding: 32px 40px 0px 42.25px;
    justify-content: space-between;
    align-items: center;
}

.header__options {
    width: 27.5px;
    height: 22.5px;
}

.header-title {
    width: 198px;
    height: 38px;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1.74px;
    color: var(--white);
}

.header__searchbar {
    display: flex;
    width: 362px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--lighter-grey);
}

.header__searchbar-input {
    appearance: none;
    font-family: inherit;
    font-size: 16px;
    color: var(--main-input-grey);
    font-weight: 300;
    outline: none;
    border: none;
    width: 225px;
    line-height: 22px;
    height: 22px;
    background-color: transparent;
    margin-left: 22px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.header__searchbar-icon {
    margin-left: 20px;
    margin-top: 13px;
    margin-bottom: 11px;
    width: 16px;
    height: 16px;
}

.header__searchbar-icon path {
    fill: var(--main-input-grey);
}

.header__user-container {
    display: flex;
    align-items: center;
}

.header__logout {
    display: flex;
    height: 19px;
    width: 73px;
    color: var(--white);
    fill: var(--white);
    justify-content: space-between;
    line-height: 19px;
    margin-right: 32px;
}

.header__user-photo {
    width: 43.87px;
    height: 45.33px;
    border-radius: 50%;
}

.header__separator {
    margin: 18px 40px 0px 40px;
    border: none;
    height: 1px;
    color: var(--white);
    background-color: var(--white);
}

.main__wrap {
    display:flex;
}

aside {
    height: 100%;
    width: 192px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    padding: 33px 31px 0px 30px;
}

.aside__options {
    width: 27.5px;
    height: 22.5px;
}

aside a {
    cursor: pointer;
}

.sidebar__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 81px;
}

.sidebar__navigation:hover, .sidebar__navigation:hover .navigation-icon {
    fill: var(--green);
    color: var(--green);
}

.sidebar__navigation {
    width: 192px;
    color: var(--white);
    font-size: 22px;
    line-height: 30px;
    height: 30px;
    margin-bottom: 11px;
}

.enabled {
    color: var(--green);
}

.spaced {
    margin-bottom: 33px;
}

.logout {
    margin-top: auto;
    margin-bottom: 100px;
}

.navigation-icon {
    fill: var(--white);
}

main {
    width: 100%;
}

.main__header {
    width: 100%;
    height: 144px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__header-headings {
    display: flex;
    flex-direction: column;
}

.main__heading {
    font-weight: 800;
    font-size: 55px;
    color: var(--white);
    line-height: 75px;
}

.main__subheading {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--white);
    height: 50px;
}

.main__header-buttons {
    margin: 0px 40px 0px 24px;
}

.main__header-buttons input {
    cursor: pointer;
    appearance: none;
    height: 40px;
    width: 40px;
    background-color: var(--dark-grey);
    border-radius: 10px;
    margin-right: 24px;
}

input[type="radio"]:checked {
    background-color: var(--stone-dark-grey);
}

input[type="radio"]:hover {
    background-color: #7D7D7D;
}

.main__show-row {
    background-image: url("/GameFinder/img/icons/row.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.main__show-column {
    background-image: url("/GameFinder/img/icons/column.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.main__cards{
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: calc(100vh - 333px);
}

.card {
    display: flex;
    flex: 0 0 31%;
    flex-direction: column;
    list-style-type: none;
    height: 314px;
    border-radius: 10px;
    margin: 0 0 24px 24px;
    overflow: hidden;
}

.card-button {
    border: 0;
}

.card-button:hover .card__content {
    box-shadow: inset 0 0 20px var(--black);
}

.card-button:active .card__content {
    box-shadow: inset 0 0 20px #000000;
}

.card__image {
    display: flex;
    height: 206px;
    overflow: hidden;
    align-content: center;
    justify-content: center;
}

.card__image img {
    width: 100%;
    object-fit: cover;
}

.card__content {
    display: flex;
    height: 108px;
    width: 100%;
    justify-content: space-between;
    background-color: var(--dark-grey);
    z-index: -1;
}

.card__content-info {
    margin-left: 20px;
}

.card__content-info h2 {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    margin-top: 8px;
    font-weight: 800;
    font-size: 23px;
    line-height: 31px;
    color: var(--white);
}

.info__text {
    display: flex;
    width: 186px;
    justify-content: space-between;
    border-bottom: 1px solid #3D3D3D;
    margin-top: 10px;
}

.info__text p {
    color: var(--main-card-grey);
    font-family: inherit;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}

.info__text:first-of-type {
    margin-top: 4px;
}

.info__text p:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card__content-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 17px 19px 0 0;
    padding: 0;
}

.card__content-buttons p {
    margin-top: 3px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--dark-green);
    align-self: flex-end;
}

.card__content-buttons svg {
    margin-left: 6px;
    height: 13px;
    fill: var(--white);
}

.card__content-buttons svg:nth-child(n+4) {
    display: none;
}

.buttons__platforms{
    height: 13px;
    display: inline-flex;
}

.buttons__wishlist {
    margin-top: 6px;
    background: linear-gradient(180deg, var(--green) 0%, var(--dark-green) 100%);
    border-radius: 10px;
    align-self: flex-end;
    width: 47px;
    height: 24px;
}

.buttons__wishlist svg:first-child {
    width: 8px;
    height: 16px;
    margin: 4px 0 0 0;
}

.buttons__wishlist svg:last-child {
    width: 16px;
    height: 16px;
    margin: 3px 0 5px 0;
}

/* One card view */

.view-one {
    margin-left: 13px;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.view-one .card {
    flex-shrink: 0;
    width: 696px;
    height: 538px;
    flex-basis: auto;
}

